@import './colors.scss';

.App {
  height: 100dvh;
  width: 100%;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 2rem;

    background-image: url(../assets/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $lighter-blue;
  }

  @media screen and (min-width: 675px) {
    max-width: 950px;
    max-height: 600px;
    padding: 1rem;
    border-radius: 12px;
    background-color: $white;

    main {
      flex-direction: row;
      align-items: flex-start;
      padding-top: 0;
      background-image: url(../assets/bg-sidebar-desktop.svg);
      // background-size: min(calc(30vw + 2rem), 336px) 100%;
      background-size: contain;
      background-color: $white;
    }
  }
}
