@import './colors.scss';

.form-container {
  // min-height: 500px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 1.6rem;
    color: $dark-blue;
  }

  h3 {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: normal;
    color: $dark-gray;
  }

  .form {
    margin: 2.5rem 1rem 0 1rem;
    padding: 2rem 1.5rem;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);

    // Step 1
    .input {
      margin: 1rem 0;

      label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        font-size: 0.8rem;
        color: $dark-blue;

        .error {
          font-weight: bold;
          color: $red;
        }
      }

      input {
        display: block;
        width: 100%;
        padding: 0.8rem 1rem;
        border: 1px solid $gray;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
        font-weight: bold;
        color: $dark-blue;
        cursor: pointer;
        transition: border 0.5s;

        &::placeholder {
          color: $dark-gray;
          font-weight: 500;
        }

        &:focus {
          border-color: $dark-blue;
        }

        &.error {
          border-color: $red;
        }
      }
    }

    // Step 2
    .plans {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;

      li {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid $gray;
        border-radius: 10px;
        transition: border 0.5s, background 0.5s;
        cursor: pointer;

        &.active {
          border-color: $blue;
          background-color: $light-gray;
        }

        &:hover {
          border-color: $blue;
        }

        .title {
          font-weight: 500;
          color: $dark-blue;
        }

        .price {
          margin-top: 4px;
          font-size: 0.9rem;
          color: $dark-gray;
        }

        .sub {
          margin-top: 4px;
          font-size: 0.8rem;
          color: $dark-blue;
        }
      }
    }

    // Step 3
    .addons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        padding: 1rem;
        border: 1px solid $gray;
        border-radius: 10px;
        transition: border 0.5s, background 0.5s;
        cursor: pointer;

        &.active {
          border-color: $blue;
          background-color: $light-gray;
        }

        &:hover {
          border-color: $blue;
        }

        input {
          outline: none;
          background: none;
          border: none;
          transform: scale(1.2);
        }

        .text {
          flex: 1;

          .title {
            font-weight: 500;
            color: $dark-blue;
          }

          .description {
            margin-top: 4px;
            font-size: 0.9rem;
            color: $dark-gray;
          }
        }

        .price {
          font-size: 0.9rem;
          color: $blue;
        }
      }
    }

    // Step 4
    .summary {
      padding: 2rem;
      border-radius: 4px;
      background-color: $light-gray;

      .plan {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
          h4 {
            margin-bottom: 4px;
            color: $dark-blue;
          }

          a {
            color: $dark-gray;
            text-decoration: underline;
            cursor: pointer;
            transition: color 0.4s;

            &:hover {
              color: $blue;
            }
          }
        }

        .price {
          color: $dark-blue;
          font-weight: bold;
        }
      }

      hr {
        height: 1px;
        margin: 1.5rem 0;
        border: none;
        background-color: $gray;
      }

      .addons-summary {
        list-style: none;

        li {
          display: flex;
          margin-bottom: 1rem;
          justify-content: space-between;
          color: $dark-gray;
          font-size: 0.9rem;

          &:last-child {
            margin-bottom: 0;
          }

          .price {
            color: $dark-blue;
          }
        }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 2rem;
      color: $dark-gray;

      .price {
        font-size: 1.1rem;
        font-weight: bold;
        color: $blue;
      }
    }

    .switch-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;
      padding: 1rem 0;
      border-radius: 6px;
      font-size: 0.9rem;
      font-weight: 500;
      color: $dark-gray;
      background-color: $lighter-gray;

      & > span {
        transition: color 0.4s;

        &.active {
          color: $dark-blue;
        }
      }
    }
  }

  @media screen and (min-width: 675px) {
    align-items: center;
    padding-bottom: 1rem;

    h1 {
      font-size: 2rem;
    }

    h3 {
      width: 100%;
    }

    .form {
      width: 70%;
      min-width: 450px;
      margin-top: 0;
      box-shadow: none;

      .plans {
        flex-direction: row;

        li {
          flex-direction: column;
          justify-content: space-between;
          gap: 2.5rem;
          flex: 1;

          img {
            width: 2.5rem;
          }
        }
      }
    }
  }
}

.step-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  background-color: $white;

  button {
    outline: none;
    border: none;
    background: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background 0.5s, color 0.5s;
    cursor: pointer;

    &.back {
      color: $dark-gray;

      &:hover {
        color: $dark-blue;
      }
    }

    &.next {
      padding: 0.8rem 1rem;
      border-radius: 4px;
      color: $white;
      background-color: $dark-blue;

      &:hover {
        background-color: #08438b;
      }

      &.confirm {
        background-color: $blue;

        &:hover {
          background-color: $light-blue;
        }
      }

      &:disabled {
        background-color: $dark-gray;
      }
    }
  }

  @media screen and (min-width: 675px) {
    width: 70%;
    min-width: 450px;
    padding: 0 1.5rem;
  }
}
